<h2>Add a new Cryptid</h2>
<form method="POST" action="/cryptids">
    <label for="cryptidName">Cryptid: </label>
    <input type="text" id="cryptidName" name="name">

    <label for="cryptidImg"> Image URL</label>
    <input type="text" id="cryptidImg" name="img_url">

    <input type="submit">
</form>